.bottom-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: Roboto;
    box-sizing: border-box;
    padding: 30px 0 30px 0;
    background-color: #F7F7F7;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    /* border: 3px solid red; */
}

.bottom-nav-inner {
    display: flex;
    height: 125px;
    width: 1224px;
    flex-direction: column;
    box-sizing: border-box;
    /* border: solid 3px green; */
}

.bottom-inner-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    height: 348px;
    /* border: solid 3px pink; */
}

.bottom-text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    max-width: 262px;
    height: 100%;
    margin-right: 16px;
    margin-left: 16px;
    /* border: solid 3px lightblue; */
    box-sizing: border-box;
}

.bottom-link-titles {
    font-size: 16px;
    font-weight: 500;
}

.bottom-link-list {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    color: black;
    line-height: 20px;
    height: 100%;
    /* align-items: center; */
    justify-content: flex-start;
    /* border: solid 1px red; */
}

.bottom-div {
    height: 100%;
    display: flex;
    align-items: flex-end;
    /* border: 3px solid red; */
}

.bottom-copyright {
    display: flex;
    justify-content: flex-start;
    height: 19px;
    margin-left: 16px;
    /* border: solid 3px blue; */
}

/* .hover-underline:hover {
    text-decoration: underline;
    cursor: pointer;
} */

.bottom-copyright-list {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* border: 3px solid green; */
    font-size: 12px;
    font-weight: 300;
}

.last-bottom-text-box {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: flex-start; */
    width: 25%;
    max-width: 262px;
    height: 100%;
    margin-right: 16px;
    margin-left: 16px;
    /* border: solid 3px lightblue; */
    box-sizing: border-box;
}

.last-bottom-link-list {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    color: gray;
    /* line-height: 28px; */
    height: 20px;
    margin: 4px 0 16px 0;
    /* border: solid 1px red; */
}

.linked,
.git {
    width: 17px;
    margin-right: 7px;
}

.hover-underline {
    color: black;
    font-weight: 400;
    text-decoration: none;
}

.business-reviews-bottom-div {
    font-size: 14px;
    font-weight: 400;
    color: gray;
}
