.sign-in-page {
    /* border: 3px solid blue; */
    display: flex;
    height: 771px;
    justify-content: center;
    align-items: center;
}

.sign-in-picture-div {
    /* border: 3px solid orange; */
    height: 100%;
    margin-left: 90px;
}

.sign-in-picture-container {
    /* border: 3px solid blue; */
    display: flex;
    padding-top: 150px;
}

.sign-in-container {
    width: 359px;
    /* height: 537px; */
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 30px; */
}

.sign-in-container-top {
    /* border: solid 1px blue; */
    width: 300px;
    /* height: 507px; */
}

.sign-in-container-top-text {
    /* border: solid 1px blue; */
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 24px;
}

.sign-in-container-bottom {
    /* border: solid 1px red; */
    width: 300px;
    height: 18px;
}

.sign-in-text-title {
    /* border: solid 1px orange; */
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    color: #d32323;
    height: 28px;
}

.sign-in-text {
    display: flex;
    justify-content: center;
}

.sign-in-button {
    width: 300px;
    height: 46px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 4px;
}

.login-button {
    background-color: #d32323;
    margin: 24px 0 24px 0;
}

.login-button:hover {
    background-color: rgba(211, 35, 35, .9);
}

.demo-button {
    background-color: black;
}

.demo-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.input-fields {
    width: 99%;
    text-indent: 5px;
    margin-bottom: 9px;
    padding: 6px 0;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 4px;
}

.input-fields:focus {
    outline: 1px solid #a5d6ff;
}

.login-separator {
    /* border: 1px solid blue; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 24px 0;
    font-size: 14px;
    font-weight: 300;
    color: gray;
}

.login-separator:before,
.login-separator:after {
    content: "";
    border-top: 1px solid;
    flex: 1 0 20px;
    color: lightgray;
}

.sign-in-container-bottom-text {
    /* border: 1px solid green; */
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 400;
    color: rgb(151, 151, 151);
}

.sign-up-navlink {
    text-decoration: none;
    color: #0073bb;
}

.sign-up-navlink:hover {
    text-decoration: underline;
}

.sign-up-form-names {
    display: flex;
    justify-content: space-between;
}

.input-fields-name {
    width: 48%;
}

.errors {
    color: red;
    font-size: 12px;
    margin-bottom: 6px;
}
