.biz-body-wrapper {
    /* border: 3px solid pink; */
    min-width: 1144px;
    max-width: 1144px;
    display: flex;
    justify-content: center;
    padding: 0 40px;
}

.biz-body-container-left {
    display: flex;
    /* border: 3px solid lawngreen; */
    min-width: 746px;
    max-width: 746px;
}

.biz-body-container-right {
    /* border: 3px solid red; */
    min-width: 365px;
    max-width: 365px;
    padding: 24px 0 0 16px;
}

.biz-contact-address {
    display: flex;
    flex-direction: column;
}

.biz-contact {
    /* border: 3px solid red; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.biz-contact-info {
    border: 1px solid #eeeeef;
    min-height: 186px;
    max-height: 186px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.biz-contact-website {
    min-height: 56px;
    max-height: 56px;
    border-bottom: 1px solid #eeeeef;
}

.biz-contact-website-anchor {
    color: #027a97;
    text-decoration: none;
    font-weight: 600;
}

.biz-contact-website-anchor:hover {
    text-decoration: underline;
}

.biz-contact-phone {
    min-height: 56px;
    max-height: 56px;
    font-weight: 500;
    border-bottom: 1px solid #eeeeef;
}

.biz-contact-address {
    /* border: 3px solid green; */
    min-height: 80px;
    max-height: 80px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #6e7072;
}


.biz-image {
    min-height: 425px;
    max-height: 425px;
    /* flex-grow: 1;
    object-fit: cover; */
}

.biz-image-blur {
    /* border: 3px solid red; */
    position: absolute;
    height: 425px;
    min-width: 1900px;
    max-width: 1900px;
    /* background: linear-gradient(0deg, rgba(39, 38, 42, 1) 0%, rgba(255, 255, 255, 0) 100%); */
    background: linear-gradient(0deg, rgb(12, 11, 12) 5%, rgba(255, 255, 255, 0) 50%);
}

.biz-image-div {
    /* border: 5px solid orange; */
    /* position: absolute; */
    /* top: 108px; */
    max-height: 425px;
    min-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    /* padding-top: 108px; */
    overflow: hidden;
    /* display: flex;
    z-index: -1; */
    z-index: 2;
}

.biz-image-info {
    /* border: 3px solid red; */
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 200px;
    max-height: 200px;
    /* padding-bottom: 100px; */
    /* bottom: 0; */
    /* margin-right: 250px; */
    /* z-index: 1; */
    z-index: 3;
}

.biz-image-info-1 {
    font-size: 48px;
    font-weight: 700;
    color: white
}

.biz-image-info-2 {
    display: flex;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.biz-image-info-3 {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.biz-image-info-4 {
    font-size: 16px;
    font-weight: 500;
    color: white
}

.biz-image-info-div {
    position: absolute;
    z-index: 4;
    /* border: 5px solid blue; */
    min-height: 200px;
    max-height: 200px;
    min-width: 1200px;
    max-width: 1200px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
}

.biz-image-claimed {
    color: #58b4ff;
}

.biz-image-slideshow {
    /* border: 10px solid green; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* align-items: center;
    object-fit: cover; */
}

.biz-image-wrapper {
    /* border: 10px solid blue; */
    padding-top: 108px;
    min-height: 425px;
    max-height: 425px;
    min-width: 1900px;
    max-width: 1900px;
}

.biz-review-author {
    /* border: 3px solid orange; */
    font-size: 16px;
    font-weight: 600;
    min-height: 92px;
    max-height: 92px;
    display: flex;
    align-items: flex-start
}

.biz-review-author-container {
    display: flex;
    align-items: center;
}

.biz-review-card {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.biz-review-container {
    /* border: 5px solid blue; */
    margin-top: 24px;
    min-width: 746px;
    max-width: 746px;
}

.biz-review-description {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 20px;
}

.biz-review-images {
    /* border: 3px solid red; */
    display: flex;
    max-width: 728px;
}

.biz-review-image {
    /* border: 5px solid yellow; */
    min-width: 174px;
    max-width: 174px;
    min-height: 132px;
    max-height: 132px;
    margin: 0 8px 0 0;
}

.biz-wrapper {
    /* border: 5px solid pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.pop-out {
    transition: transform .25s;
}

.pop-out:hover {
    transform: scale(1.5);
}

.stars {
    margin-bottom: 12px;
    font-size: 14px;
}

.user-icon {
    max-width: 58px;
    max-height: 58px;
}
