.create-biz-page {
    display: flex;
    margin-top: 27px;
    width: 100%;
    justify-content: center;
}

.create-biz-container-body {
    max-width: 465px;
    min-width: 465px;
    /* border: 1px solid green; */
}

.create-biz-container-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 6px;
}

.create-biz-container-des {
    font-size: 14px;
    margin-bottom: 12px;
    line-height: 18px;
}

.create-biz-left {
    min-width: 495px;
    max-width: 495px;
    padding: 0 15px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
}

.create-biz-right {
    margin-left: 68px;
}

.create-biz-inputs {
    font-size: 14px;
    font-weight: 600;
}

.create-biz-input-fields {
    max-width: 458px;
    min-width: 458px;
    min-height: 30px;
    max-height: 30px;
    border-radius: 4px;
    text-indent: 5px;
    border: 1px solid gray;
}

.create-biz-select {
    min-width: 111px;
    max-width: 111px;
    min-height: 30px;
    max-height: 30px;
    margin-right: 9px;
    border-radius: 4px;
}

.create-biz-hours-button {
    min-width: 79px;
    max-width: 79px;
    min-height: 30px;
    max-height: 30px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid black
}

.create-biz-submit-button {
    min-width: 131px;
    max-width: 131px;
    min-height: 36px;
    max-height: 36px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: #d32323;
    border: none;
    margin: 20px 0 54px 0;
}

.create-biz-submit-button:hover {
    background-color: #f8121a;
}

.create-biz-input-cards {
    min-height: 72px;
    max-height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.create-biz-url-cards {
    min-height: 272px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.create-biz-hours-cards {
    min-height: 72px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 12px 0;
}

.hours-display-container {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    line-height: 24px;
}

.hours-display {
    display: flex;
    flex-direction: row;
}

.hour-remove {
    color: #0073bb;
    cursor: pointer;
}

.hour-day {
    font-weight: 600;
}

.agreement {
    font-size: 12px;
    color: #999999;
    font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.errors {
    color: red;
    font-size: 10px;
    margin-bottom: 6px;
}

.upload-photo-container {
    /* border: 1px solid blue; */
    height: 864px;
    width: 928px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-photo-title {
    /* border: 1px solid blue; */
    font-size: 28px;
    font-weight: 700;
    width: 877px;
    overflow: hidden;
}

.browse-files-container {
    border: 1px dashed gray;
    height: 331px;
    width: 877px;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
}

.upload-photo-footer {
    /* border: 1px solid blue; */
    display: flex;
    height: 328px;
    margin-top: 32px;
}

.upload-photo-logos {
    /* border: 1px solid blue; */
    width: 195px;
    height: 328px;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-photo-text {
    width: 131px;
    font-size: 14px;
    color: #6e7072;
    text-align: center;
    line-height: 20px;
}

.browse-file-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 18px;
}

.submit-file-button {
    width: 126px;
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: #d32323;
    outline: none;
    border: none;
    border-radius: 4px;
    font-weight: 500;
}

.submit-file-button:hover {
    background-color: #f8121a;
}

.file-form {
    display: flex;
    align-items: center;
    justify-content: center;
}
